<style>
	.modal-title {
		direction: rtl;
	}
	.modal-popup .action-close {
		left: 0;
		right: unset;
	}
	.modal-body {
		direction: rtl;
	}
	.baldar tr td {
		text-align: right;
	}
	.baldar input, .baldar select {
		width: 200px;
	}
	.destination_house_specifications input {
		width: 65px;
		padding-left: 5px;
	}
	.modal-footer {
		text-align: left;
	}
</style>
<form id="send-mail-form-<%- orderid %>" data-hasrequired="* Required Fields" autocomplete="off"
	data-mage-init='{"validation":{}}' method="get" enctype="multipart/form-data" action="<%- formaction %>">
	<div class="modal-body">
		<div class="bootbox-body">
			<table class="baldar" style="line-height:40px;" cellpadding="1" cellspacing="1">
				<tr>
					<td>סוג משלוח</td>
					<td>
						<select class="required-entry" name="delivery_type">
							<option value="1">משלוח</option>
							<option value="2">איסוף</option>
							<option value="3">העברה</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>רחוב מוצא</td>
					<td><input id="origin_street" class="form-control required-entry" data-validate="{required:true}"
							type="text" name="origin_street" value="<%- origin_street %>" /></td>
				</tr>
				<tr>
					<td>מספר בית מוצא</td>
					<td><input class="required-entry" type="text" name="origin_house_number"
							value="<%- origin_house_number %>" /></td>
				</tr>
				<tr>
					<td>עיר מוצא</td>
					<td><input class="required-entry" type="text" name="origin_town" value="<%- origin_city %>" /></td>
				</tr>
				<tr>
					<td>רחוב יעד</td>
					<td><input class="required-entry" type="text" name="destination_street"
							value="<%- destination_street %>" /></td>
				</tr>
				<tr>
					<td>מספר בית יעד</td>
					<td><input class="required-entry" type="text" name="destination_house_number"
							value="<%- destination_house_number %>" /></td>
				</tr>
				<tr class="destination_house_specifications">
					<td>פרטי דירה</td>
					<td>
						<input type="text" name="destination_entrance" placeholder="כניסה" value="" />
						<input type="number" name="destination_floor" placeholder="קומה" value="" />
						<input type="number" name="destination_apartment" placeholder="דירה" value="" />
					</td>
				</tr>
				<tr>
					<td>עיר יעד</td>
					<td><input class="required-entry" type="text" name="destination_city"
							value="<%- destination_city %>" /></td>
				</tr>
				<tr>
					<td>שם חברת מוצא</td>
					<td><input class="required-entry" maxlength="50" type="text" name="origin_company"
							value="<%- origin_company %>" /></td>
				</tr>
				<tr>
					<td>שם חברת יעד</td>
					<td><input maxlength="50" type="text" name="destination_company"
							value="<%- destination_company %>" /></td>
				</tr>
				<tr>
					<td valign="top">הוראות משלוח</td>
					<td><textarea rows="2" cols="40" maxlength="250" name="shipping_instructions"
							value="<%- shipping_instructions %>"></textarea></td>
				</tr>
				<tr>
					<td>דחיפות</td>
					<td>
						<select class="required-entry" name="urgency_number">
							<option value="1">רגיל</option>
							<option value="2">דחוף</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>מהיום למחר</td>
					<td>
						<select class="required-entry" name="today_tomorrow">
							<option value="0">כן</option>
							<option value="1">לא</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>סוג כלי רכב</td>
					<td>
						<select class="required-entry" name="vehicle_type">
							<option value="1">אופנוע</option>
							<option value="2">רכב</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>מספר חבילות</td>
					<td><input type="number" class="required-entry validate-number" name="number_of_packages"
							value="1" /></td>
				</tr>
				<tr>
					<td>משלוח כפול</td>
					<td>
						<select class="required-entry" name="is_double">
							<option value="1">רגיל</option>
							<option value="2">כפול</option>
						</select>
					</td>
				</tr>
				<tr style="display:none;">
					<td><input type="text" name="always" value="0" hidden /></td>
				</tr>
				<tr>
					<td>מזהה הזמנה פנימי</td>
					<td><input class="required-entry" maxlength="50" type="text" name="site_internal_order_id"
							value="<%- site_internal_order_id %>" /></td>
				</tr>
				<tr>
					<td>קוד לקוח</td>
					<td><input class="required-entry" type="text" name="baldar_client_code"
							value="<%- baldar_client_code %>" /></td>
				</tr>
				<tr>
					<td valign="top">ברקוד</td>
					<td><input type="text" name="barcode" value="" /><br />"," :ניתן לרשום מספר ברקודים מופרדים ב
					</td>
				</tr>
				<tr>
					<td valign="top">הערות</td>
					<td><textarea rows="2" cols="40" maxlength="200" name="comments"></textarea></td>
				</tr>
				<tr style="display: none;">
					<td>מספר פלטות</td>
					<td><input class="required-entry validate-number" type="number" name="number_of_pallets"
							value="0" />
					</td>
				</tr>
				<tr>
					<td>מיקוד מוצא</td>
					<td><input class="validate-number" type="number" name="origin_postcode"
							value="<%- origin_postcode %>" /></td>
				</tr>
				<tr>
					<td>מיקוד יעד</td>
					<td><input class="validate-number" type="number" name="destination_postcode"
							value="<%- destination_postcode %>" /></td>
				</tr>
				<tr>
					<td>שם איש קשר</td>
					<td><input class="required-entry" type="text" name="contact_name" value="<%- contact_name %>" />
					</td>
				</tr>
				<tr>
					<td>טלפון איש קשר</td>
					<td><input class="required-entry" type="tel" name="contact_telephone"
							value="<%- contact_telephone %>" /></td>
				</tr>
				<tr>
					<td>אימייל איש קשר</td>
					<td><input class="required-entry" type="email" name="contact_email" value="<%- contact_email %>" />
					</td>
				</tr>
				<tr>
					<td>תאריך ביצוע</td>
					<td><input class="required-entry datepicker" type="text" id="execution_date_<%- orderid %>"
						name="execution_date" value="<%- execution_date %>" /></td>
				</tr>
				<tr>
					<td>משלוח גובינא</td>
					<td>
						<select class="required-entry" name="reverse_charge_shipment">
							<option value="0">לא</option>
							<option value="1">כן</option>
						</select>
					</td>
				</tr>
			</table>
			<input type="hidden" name="order_id" value="<%- orderid %>" />
		</div>
	</div>
	<div class="modal-footer">
		<span class="error"></span>
		<button type="reset" class="btn btn-default"><span><%- cancellabel %></span></button>
		<button type="submit" class="btn btn-primary"><span><%- submitlabel %></span></button>
		<span class="clear"></span>
	</div>
</form>
<script>
	require([
		"jquery",
		'mage/mage',
		"mage/calendar"
	], function ($) {
		var dataForm = jQuery('#send-mail-form-<%- orderid %>');
		dataForm.mage('validation', {});
		$(document).on("focusin", "#execution_date_<%- orderid %>", function () {
			$("#execution_date_<%- orderid %>").calendar({
				dateFormat: "yyyy-mm-dd",
				timeFormat: "H:m:s",
				changeMonth: true,
				changeYear: true,
				numberOfMonths: 1,
				showsTime: false,
				hideIfNoPrevNext: true,
				buttonText: "<?php echo __('Select Date') ?>"
			});
		});
	});
</script>